body {
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  font-size: 24px;
  color: #8b0000;
  margin-bottom: 20px;
}

.logo img {
  width: 100px; /* Ajusta el tamaño de la imagen del logotipo */
  height: auto;
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  color: #8b0000;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: #8b0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #7a0000;
}

.loginLink {
  font-size: 14px;
  color: #8b0000;
  margin-top: 20px;
  width: 100%;
}

.loginLink a {
  color: #8b0000;
  text-decoration: none;
}

/* Media query for smaller screens */
@media (max-width: 320px) {
  .container {
    padding: 15px;
  }

  .title {
    font-size: 24px;
  }

  label {
    font-size: 12px;
  }

  input {
    font-size: 12px;
  }

  button {
    font-size: 12px;
    padding: 8px 16px;
  }

  .loginLink {
    font-size: 10px;
  }
}